extends dashboard.pug

block content
  .container
    .card.card-login.mx-auto.mt-5.bg-light
      .card-header Login
      .card-body
        if error
          .alert.alert-danger.text-center= error
        if success
          .alert.alert-success.text-center= success
        form(action="/admin/auth/login", method="post")
          .form-group
            .form-label-group
              input.form-control#inputEmail(type="email" name="email" placeholder="Email address" required autofocus)
              label(for="inputEmail") Email address
          .form-group
            .form-label-group
              input.form-control#inputPassword(type="password" name="password" placeholder="Password")
              label(for="inputPassword") Password
          button.btn.btn-primary.btn-block(type="submit") Login

        .text-center
          a.d-block.small.mt-3(href="/admin/register") Register an Account
          a.d-block.small(href="/admin/password") Forgot Password?