extends dashboard.pug

block content
   .container
      .card.card-login.mx-auto.mt-5
        .card-header Reset Password
        .card-body
          .text-center.mb-4
            h4 Forgot your password?
            p Enter your email address and we will send you instructions on how to reset your password

          form
            .form-group
              .form-label-group
                input.form-control#inputEmail(type="email" placeholder="Enter email address" required autofocus)
                label(inputEmail) Enter email address
            a.btn.btn-primary.btn-block(href="login.html") Reset Password

          .text-center
            a.d-block.small.mt-3(href="register.html") Register an Account
            a.d-block.small(href="login.html") Login Page