extends dashboard.pug

block content
  .container
    .card.card-register.mx-auto.mt-5
      .card-header Register an Account
      .card-body
        if error
          .alert.alert-danger.text-center= error
        if success
          .alert.alert-success.text-center= success
        form(action="/admin/register", method="post")
          .form-group
            .form-row
              .col-md-6
                .form-label-group
                  input.form-control#firstName(type="text" name="firstname" placeholder="First name" autofocus)
                  label(for="firstName") First name

              .col-md-6
                .form-label-group
                  input.form-control#lastName(type="text" name="lastname" placeholder="Last name")
                  label(for="lastName") Last name
          .form-group
            .form-label-group
              input.form-control#inputEmail(type="email" name="email" placeholder="Email address")
              label(for="inputEmail") Email address
          .form-group
            .form-row
              .col-md-12
                .form-label-group
                  input.form-control#inputPassword(type="password" name="password" placeholder="Password")
                  label(for="inputPassword") Password
                  small.text-muted password should be between 6 - 20 characters
          button.btn.btn-primary.btn-block(type="submit" name="submit") Register

        .text-center
          a.d-block.small.mt-3(href="/admin/login") Login Page
          a.d-block.small(href="/admin/password") Forgot Password