doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title AgricVenturesNG
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(href="https://fonts.googleapis.com/css?family=Poppins:400,600,700"
      rel="stylesheet")
  body
    header.pb-5
      .container
        include partials/nav

        .row.justify-content-center
          h1.site-header AgricVenturesNG

    section.container.mb-4
      .row
        .col-sm-12.col-md-8.border-right
          h1.categoryH1.mb-5.text-center About AgricVentures Nigeria

          p.
            Welcome to AgricVentures Nigeria, we would first and foremost thank you for you curiosity about us and will take out this time to explain what we do. AgricVentures Nigeria blog is a not just a blog, it is currently a first step in creating a highly interactive and dynamic online destination Nigerians who are into Agriculture worldwide to collaborate, interact, get information, exchanging ideas, knowledge and share various problems in their agricultural field of practices.

          h4.text-center Story

          p.
            AgricVentures Nigeria is aimed at bridging the gap in the knowledge of Agriculture as well as connecting all process of Agriculture around Nigeria. it is an informative website dedicated to the improvement and Modernization of Agricultural in and around Nigeria.
          p AgricVentures Nigeria provides you with resources enabling you to grow you knowledge, careers and Business Ideas.

          h4.text-center Mission

          p.
            The Mission of AgricVentures Nigeria is to bring about innovative change in the Agricultural Sector linking all aspect of Agricultural Production especially Individuals involved in Agricultural Related Activities.

        .col-sm-12.col-md-4
          include partials/aside

    include partials/footer