doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title AgricVenturesNG | Contact Us
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(href="https://fonts.googleapis.com/css?family=Poppins:400,600,700"
      rel="stylesheet")
  body
    header.pb-5
      .container
        include partials/nav


        .row.justify-content-center
          h1.site-header AgricVenturesNG

    section.container.mb-4
      .row
        .col-sm-12.col-md-8.border-right
          h1.mb-5 Get in Touch with Us

          p.mb-5 For jobs post, events and inquiries send to: 
            span.font-weight-bold info.agricventuresng@yahoo.com

          .row
            .col-sm-12.col-md-8
              form
                .form-group
                  label(for="fullname") Name
                  input.form-control(type="text" id="fullname" aria-describedby="name" placeholder="Enter your name" required)
                .form-group
                  label(for="email-addr") Email address
                  input.form-control(type="email" id="email-addr" aria-describedby="emailHelp" placeholder="Enter email" required)
                .form-group
                  label(for="comment-textarea") Comment
                  textarea(class="form-control" id="comment-textarea" placeholder="Leave a comment" rows="4" required)

                button(type="submit" class="btn btn-info") Send

        .col-sm-12.col-md-4
          include partials/aside

    include partials/footer