doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title AgricVenturesNG | Contact Us
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(href="https://fonts.googleapis.com/css?family=Poppins:400,600,700"
      rel="stylesheet")
  body
    header.pb-5
      .container
        nav.navbar.navbar-expand-md.navbar-light
          a(class="navbar-brand" href="#") AgricVenturesNG
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarNav
            ul.navbar-nav
              li.nav-item.active
                a(class="nav-link" href="/") Home 
                  span.sr-only (current)
              li.nav-item
                a(class="nav-link" href="#") Vacancies 
              li.nav-item
                a(class="nav-link" href="#") Events 
              li.nav-item
                a(class="nav-link" href="#") Admissions 
              li.nav-item
                a(class="nav-link" href="/about") About
              li.nav-item
                a(class="nav-link" href="/contact") Contact Us

          .d-flex.justify-content-end.contact
            ul.navbar-nav
              li.nav-item
                i.fa.fa-phone 
                span.ml-2 +2347036161822
              li.nav-item
                a(class="nav-link" href="#")
                  i.fa.fa-facebook-square
              li.nav-item
                a(class="nav-link" href="#")
                  i.fa.fa-twitter-square
              li.nav-item
                a(class="nav-link" href="#")
                  i.fa.fa-instagram


        .row.justify-content-center
          h1.site-header AgricVenturesNG

    section.container.mb-4
      .row
        .col-sm-12.col-md-8.border-right
          h1.mb-5 Get in Touch with Us

          p.mb-5 For jobs post, events and inquiries send to: 
            span.font-weight-bold info.agricventuresng@yahoo.com

          .row
            .col-sm-12.col-md-8
              form
                .form-group
                  label(for="fullname") Name
                  input.form-control(type="text" id="fullname" aria-describedby="name" placeholder="Enter your name" required)
                .form-group
                  label(for="email-addr") Email address
                  input.form-control(type="email" id="email-addr" aria-describedby="emailHelp" placeholder="Enter email" required)
                .form-group
                  label(for="comment-textarea") Comment
                  textarea(class="form-control" id="comment-textarea" rows="4" required)

                button(type="submit" class="btn btn-info") Send

        .col-sm-12.col-md-4
          aside
            .row.mb-3
              .col-sm-12
                .aside-ad.bg-dark
                  p.text-light AD SPACE

            form(action="" method="" class="mb-3")
              .input-group.mb-3
                input(type="text" class="form-control" placeholder="Search here..." aria-label="Search here..." aria-describedby="button-addon2")
                .input-group-append
                  button(type="submit" class="btn btn-outline-secondary" id="button-addon2") Search

            h4.text-capitalize.mb-3 popular Posts
            
            h4.text-capitalize.mb-3 categories

            h4.text-capitalize.mb-3 archives

            .row
              .col-sm-12
                h4 Subscribe To Our Newsletter
            
              .col-sm-12
                form(action="" method="" class="form-inline")
                  input(type="email" name="" class="form-control" placeholder="Enter Email...")
                  button(type="submit" class="btn ml-2") Subscribe

    footer.mt-4.pt-2
      .container
        .row
          .col-md-12
            h2 AgricVenturesNG
        .row
          .col-sm-12.col-md-5
            p.mb-3 AgricVenturesNG is a blog dedicated to bring the latest News and event on Agriculture happen around Nigeria.
            p 
              i.fa.fa-envelope-o
              span.ml-2
                a(href="mailto:kelvinekrresa@gmail.com") kelvinekrresa@gmail.com 
            p 
              i.fa.fa-phone 
              span.ml-2 +2347036161822
          .col-sm-12.col-md-3
            p
              a(href="#") Privacy Policy
            p 
              a(href="#") Terms &amp; Conditions 
          .col-sm-12.col-md-4
            ul.footer-nav
              li.nav-item
                a(href="#")
                  i.fa.fa-facebook-square
              li.nav-item
                a(href="#")
                  i.fa.fa-twitter-square
              li.nav-item
                a(href="#")
                  i.fa.fa-instagram      

        .row
          .col-sm-12.text-center
            p Copyright &copy; 2018. Built by Ochuko

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
