doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title AgricVenturesNG
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(href="https://fonts.googleapis.com/css?family=Poppins:400,600,700"
      rel="stylesheet")
  body
    h1.display-4 Server Error
      p.lead Sorry, there is an error. You can 
        a(href="javascript:history.back()") go back 
        | to the previous page, or 
        a(href="index.html") return home