nav.navbar.navbar-expand-md.navbar-light
  a(class="navbar-brand" href="#") AgricVenturesNG
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav
      li.nav-item.active
        a(class="nav-link" href="/") Home 
          span.sr-only (current)
      li.nav-item
        a(class="nav-link" href="/blog/posts/Vacancies") Jobs 
      li.nav-item
        a(class="nav-link" href="/blog/posts/Events") Events 
      li.nav-item
        a(class="nav-link" href="/blog/posts/Admissions") Admissions 
      li.nav-item
        a(class="nav-link" href="/about") About
      li.nav-item
        a(class="nav-link" href="/contact") Contact Us

  .d-flex.justify-content-end.contact
    ul.navbar-nav
      li.nav-item
        i.fa.fa-phone 
        span.ml-2.mr-3 +2347036161822
      li.nav-item
        a(class="nav-link" href="#")
          i.fa.fa-facebook-square
      li.nav-item
        a(class="nav-link" href="#")
          i.fa.fa-twitter-square
      li.nav-item
        a(class="nav-link" href="#")
          i.fa.fa-instagram