header {
  background: url(/images/bg2.jpg) center;
  background-size: cover;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
}

a:hover {
  text-decoration: none;
}

.jumbotron {
  background: none;
  color: #ffffff;
}

.site-header {
  color: #ffffff;
  margin-top: 2rem;
}

.navbar {
  padding: 0.5rem 0rem;
}

ul.navbar-nav {
  align-items: center;
}

ul.navbar-nav:first-child {
  color: #ffffff;
}

.navbar-brand {
  display: none;
}

.nav-link {
  margin-right: 0.5rem;
}

.contact .navbar .nav-item:last-child .nav-link {
  margin-right: 0;
}

.navbar-brand,
a.nav-link {
  color: #ffffff !important;
}

a.nav-link:hover {
  color: #ffffff6b !important;
}

.card {
  border: none;
}

.card-title {
  padding-right: 1rem;
}

.card-body {
  padding: 0;
}

.post-image {
  height: 400px;
}

article img {
  width: 100%;
  height: 205px;
  object-fit: cover;
}

.row .bg-dark,
aside .bg-dark {
  height: 250px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-ad {
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.form-control:focus {
  box-shadow: none;
}

.fa {
  font-size: 1.25rem;
}
.fa-twitter-square {
  color: #38a1f3;
}
.fa-facebook-square {
  color: #4267b2;
}
.fa-instagram {
  color: #d93175;
}
.fa-phone {
  font-size: 1rem;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul a.btn {
  border: none;
  padding: 0;
}

.popular div {
  height: 180px;
  position: relative;
  background: rgb(31, 73, 77);
  color: white;
  margin-bottom: 0.3rem;
}

.popular div a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  color: white;
}

.popular div a:hover {
  color: #ffffff94;
}

.popular h6 {
  padding-left: 0.3rem;
  text-align: center;
}

.popular img {
  mix-blend-mode: overlay;
  filter: grayscale(100%);
  height: 180px;
  width: 100%;
  object-fit: cover;
}

footer {
  background-color: #231a06e8;
  color: #ffffff;
  font-size: 14px;
}

footer p {
  margin-bottom: 2px;
}

footer p a {
  color: #ffffff;
}

footer p a:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.footer-nav li {
  margin-right: 1rem;
}

.list-inline:first-child {
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1068px;
  }
  .col-md-6 {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding-bottom: 0;
  }
  p.lead {
    text-align: center;
  }
  .contact ul li {
    display: none;
  }
  ul.navbar-nav {
    align-items: flex-start;
    padding-top: 1rem;
  }
  .navbar-toggler:focus,
  .navbar-toggler:hover {
    text-decoration: none;
    outline: 0;
  }
  .navbar-light .navbar-toggler {
    border: 1.5px solid rgb(151, 144, 144);
  }

  .navbar {
    justify-content: flex-end;
  }
  .navbar-brand {
    display: inline-block;
    margin-right: auto;
  }

  .site-header {
    display: none;
  }
}
